@import url("");

body
{
    background: lightblue;
    display: flex;
    justify-content: center;
    align-self: center;
    min-height: 100vh;
}

.container
{
    position: relative;
    width: 100%;
    max-width:1000px;
    min-height: 100px;
    margin: 50px;
    background: #ffffff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);

}

.container .left-side
{
    position:relative;
    background: #003147;
    padding: 40px;
}

.container .right-side
{
    position:relative;
    background: #ffffff;
    padding: 40px;
}